body {
    background-color: 	#3C425A;
}

header {
    display: flex;
    align-items: center;         /* Aligne verticalement l'image et le texte */
    justify-content: space-between; /* Espace entre le logo et le menu */
    padding: 20px;
}
.logo {
    height: 100px; /* Ajuste selon la taille souhaitée */
}

.menu {
    display: flex;
    gap: 200px; /* Espace entre les éléments du menu */

}
.menu a {
    color: 	#F3EFDB;
    font-size: 30px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

.menu span {
    color: 	#F3EFDB;
    font-size: 30px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

footer {
  display: flex;
  font-family: 'Quicksand', sans-serif;
  color: 	#F3EFDB;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 0 100px; 
}

.footer-left,
.footer-right{
  display: flex;
  flex-direction: column;
  flex:1;
}

.footer-right{
  text-align: right;
  align-items: flex-end;
}

footer a{
  color: #F3EFDB;
}

.Projet{
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  color:#F3EFDB;
  font-weight: bold;
  max-width:800px
}

.Description{
  font-family: 'Playfair Display', serif;
  font-size:20px;
  color:#F3EFDB;
  max-width: 800px;
  line-height: 1.6;
  white-space: normal;
  margin-top: 40px;
  margin-bottom: 20px;
}

.image_bateau{
  float:right;
  margin-left:20px;
  margin-right: 50px;
  max-width: 800px;
  margin-top: 20px; 
  height: auto;
}

.contenu{
  margin-left : 200px;
  overflow:auto;
}
.pred-type{
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  color:#F3EFDB;
  font-weight: bold;
  max-width:800px
}
.add-boat-content {
    display: flex;
    gap: 50px;
    margin: 20px 100px;
    align-items: flex-start;
    justify-content: center;
}

.add-boat-form-section {
    max-width: 1400px;
    width: 100%;
    padding: 30px;
    margin-bottom: 40px;
    background: #56638E;
    border-radius: 12px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #F3EFDB;
}

.add-boat-form-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.add-boat-form-section form div {
    margin-bottom: 20px;
    text-align: left;
}

.add-boat-form-section label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

.add-boat-form-section input,
.add-boat-form-section select {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    background: #F3EFDB;
    color: #3C425A;
    box-sizing: border-box;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.add-boat-form-section select:focus,
.add-boat-form-section input:focus {
    outline: 2px solid #56638E;
}

.add-boat-form-section button {
    padding: 15px 30px;
    font-size: 20px;
    color: #F3EFDB;
    background: #6D79A1;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.add-boat-form-section button:hover {
    background: #56638E;
}

.add-boat-image {
    float: right;
    margin-left: 20px;
    margin-right: 50px;
    max-width: 800px;
    margin-top: 20px;
    height: auto;
}

/*Visualisation Fonctionnalité 3*/

a {
  color: #DF775C;
  font-weight: 500;
}

section {
  padding: 3rem 2rem;
  background-color: #fff;
  margin: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
  background-color: #F3EFDB;
  border-radius: 8px;
  overflow: hidden;
}

th {
  background-color: #DF775C;
  color: white;
  padding: 1rem;
  text-align: center;
}


map {
  height: 600px;
  width: 100%;
  margin-top: 20px;
  border-radius: 12px;
  border: 3px solid #7FB196;
}
.prediction-buttons {
  background-color: #f8f5e4;
  padding: 2rem;
  text-align: center;
  border-radius: 12px;
  margin: 2rem;
  box-shadow: 0 4px 8px rgba(60, 66, 90, 0.1);
}

.btn-container button {
  margin: 1rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #7FB196;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-container button:hover {
  background-color: #5e927a;
}
td {
  text-align: center;     /* centre horizontalement */
  vertical-align: middle; /* centre verticalement */
  padding: 0.75rem 1rem;  /* un peu d’espace pour la lisibilité */
}
.pred-type{
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  color:#F3EFDB;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px; 
}

.nom_de_pred{
  font-family: 'Playfair Display', serif;
  font-size:30px;
  color:#F3EFDB;
  margin: 20px 50px;
}

.longueur_de_pred{
  font-family: 'Playfair Display', serif;
  font-size:30px;
  color:#F3EFDB;
  margin: 20px 50px;
}

.largueur_de_pred{
  font-family: 'Playfair Display', serif;
  font-size:30px;
  color:#F3EFDB;
  margin: 20px 50px;
}

.tirant_de_pred{
  font-family: 'Playfair Display', serif;
  font-size:30px;
  color:#F3EFDB;
  margin: 20px 50px;
}

.type_de_prediction{
  font-family: 'Playfair Display', serif;
  font-size:40px;
  color:#F3EFDB;
  margin: 60px 50px;
}
