body {
    background-color: 	#3C425A;
}

header {
    display: flex;
    align-items: center;         /* Aligne verticalement l'image et le texte */
    justify-content: space-between; /* Espace entre le logo et le menu */
    padding: 20px;
}
.logo {
    height: 100px; /* Ajuste selon la taille souhaitée */
}

.menu {
    display: flex;
    gap: 200px; /* Espace entre les éléments du menu */

}
.menu a {
    color: 	#F3EFDB;
    font-size: 30px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

footer {
  display: flex;
  font-family: 'Quicksand', sans-serif;
  color: 	#F3EFDB;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 0 100px; 
}

.footer-left,
.footer-right{
  display: flex;
  flex-direction: column;
  flex:1;
}

.footer-right{
  text-align: right;
  align-items: flex-end;
}

footer a{
  color: #F3EFDB;
}

.Projet{
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  color:#F3EFDB;
  font-weight: bold;
  max-width:800px
}

.Description{
  font-family: 'Playfair Display', serif;
  font-size:20px;
  color:#F3EFDB;
  max-width: 800px;
  line-height: 1.6;
  white-space: normal;
  margin-top: 40px;
  margin-bottom: 20px;
}

.image_bateau{
  float:right;
  margin-left:20px;
  margin-right: 50px;
  max-width: 800px;
  margin-top: 20px; 
  height: auto;
}

.contenu{
  margin-left : 200px;
  overflow:auto;
}
.add-boat-content {
    display: flex;
    gap: 50px;
    margin: 20px 100px;
    align-items: flex-start;
}

.add-boat-form-section {
    max-width: 1400px;  /* ou 100% si tu veux */
    margin-bottom: 40px;
    width: 100%;
}

.add-boat-form-section form div {
    margin-bottom: 20px;
}

.add-boat-form-section label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

.add-boat-form-section input {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    background: #F3EFDB;
    color: #3C425A;
    box-sizing: border-box;
    margin-bottom: 20px;

}

.add-boat-form-section button {
    padding: 15px 30px;
    font-size: 20px;
    color: #F3EFDB;
    background: #56638E;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.add-boat-form-section button:hover {
    background: #6D79A1;
}

.add-boat-image {
  float:right;
  margin-left:20px;
  margin-right: 50px;
  max-width: 800px;
  margin-top: 20px; 
  height: auto;
}

